@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

/* Universal selector = *                      */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* global variables created under :root , to be used later (used by body color,para color,etc)*/
:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none; /*removes underlines from the text of all anchor tags */
}

ul {
    list-style: none; /*all bullet points will go from the list */
}

/*Utility classes - .flex , container */
.flex {
    display: flex;
    align-items: center;
}

.container { 
    max-width: 1180px; /*all items, sections will have same width helpin nav and main div align properly*/ 
    margin-inline: auto; /*Helps in evenly aligning from both left and right and appears to be in the cenyer*/
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2; /*appears to be lifted */
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px; /* instead of padding: 8px 0; */
}

/* Providing gap between the nav items */
.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer; /* the cursor will change when it hovers on it*/
}

/* Defining hover state ,i.e., whenever it hovers the color will change */
.hover-link:hover {
    color: var(--secondary-text-color);
}

/* Changing the click state,i.e., when u click the state is active  */
.hover-link:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

/* Styling the search input region */
.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

/* Styling the search button */
.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

/* Changing the color of search button when hovered */
.search-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}